<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="send"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="d3-bar">
            <ion-icon name="bar"></ion-icon>
            <ion-label>Bar</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="d3-pie">
            <ion-icon name="pie"></ion-icon>
            <ion-label>Pie</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="d3-001">
            <ion-icon name="help"></ion-icon>
            <ion-label>Pie</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="d3-002">
            <ion-icon name="help"></ion-icon>
            <ion-label>Pie</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="d3-003">
            <ion-icon name="help"></ion-icon>
            <ion-label>Pie</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>